fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary # Driver PostgreSQL
python-dotenv # Para carregar variáveis de ambiente
python-jose[cryptography] # Para JWT
passlib[bcrypt] # Para hash de senha
python-multipart # Para form-data
email-validator # Para validação de email